body {
  @extend %Roboto-400;
  font-size: 16px;
  line-height: 1.1;
  text-transform: capitalize;
  background-color: #EBECF1;
  color: #000000;
}

.container {
  max-width: 1142px;
  padding: 0 15px;
  margin: 0 auto;
}


.title {
  @extend %Roboto-900;
  font-size: 36px;
  color: #21469E;
  text-align: center;
}