%Roboto-400 {
  font-family: 'Roboto-Regular';
  font-weight: 400;
}

%Roboto-500 {
  font-family: 'Roboto-Medium';
  font-weight: 500;
}

%Roboto-700 {
  font-family: 'Roboto-Bold';
  font-weight: 700;
}

%Roboto-900 {
  font-family: 'Roboto-Black';
  font-weight: 700;
}