@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header {
  padding: 20px 30px;
  background-color: #012169;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.31);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    &__list {
      display: flex;
    }

    &__item {
      margin-right: 0;

      &:first-child {
        margin-right: 65px;
      }

      &:nth-child(2) {
        position: relative;

        &::after {
          position: absolute;
          content: '';
          top: 0;
          right: 0;
          height: 18px;
          width: 2px;
          background-color: #979797;
        }
      }
    }

    &__link {
      @extend %Roboto-500;
      font-size: 18px;
      color: #F4F6F7;
      text-transform: uppercase;
      padding-left: 20px;
      padding-right: 20px;
      transition: color .4s linear;

      &:hover {
        color: #FF3D00;
      }
    }

    &__link--down {
      position: relative;
      @extend %Roboto-700;
      font-size: 21px;
      color: #FF3D00;
      padding: 0;
      padding-right: 30px;

      &::after {
        position: absolute;
        content: '';
        top: 10px;
        right: 2px;
        width: 10px;
        height: 2px;
        background-color: #FF3D00;
      }

      &::before {
        position: absolute;
        content: '';
        top: 6px;
        right: 6px;
        width: 2px;
        height: 10px;
        background-color: #FF3D00;
      }
    }
  }
}

.top-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  min-height: 350px;
  background-color: rgba(1, 33, 105, 0.7);

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 350px;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
  }

  &__inner {
    width: 1120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
  }

  &__title {
    @extend %Roboto-500;
    font-size: 64px;
    color: #EBB90A;

  }

  &__text {
    @extend %Roboto-500;
    font-size: 22px;
    color: #fff;
  }

  &__items {
    position: relative;
    display: flex;
    max-width: 250px;
    border-radius: 5px;
    border: 2px dotted rgba(235, 185, 10, 1);

    &::before {
      position: absolute;
      content: '';
      top: -41px;
      left: 16px;
      width: 192px;
      height: 55px;
      background-image: url('../images/top-rating/crown.png');
      z-index: 999;
    }

    &::after {
      position: absolute;
      content: '';
      top: 36%;
      right: -37px;
      width: 26px;
      height: 36px;
      background-image: url('../images/top-rating/handle.png')
    }
  }

  &__item {
    display: flex;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: #012169;
  }

  &__item-img {
    margin: 0 auto;
    padding-top: 50px;
  }

  .slick-dots {
    position: absolute;
    display: flex;
    bottom: 22px;
    right: 41%;
  }

  .slick-dots li+li {
    margin-left: 15px;
  }

  .slick-dots button {
    width: 6px;
    height: 6px;
    font-size: 0;
    border-radius: 50%;
    padding: 0;
    border: none;
    background-color: #979797;
    outline: 0;
  }

  .slick-active button {
    background-color: #EBB90A;
  }
}

.top-rate {
  padding: 40px 0 40px;

  &__title {
    padding-bottom: 40px;
  }

  &__item {
    display: flex;
    max-width: 1112px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #fff;
    border: 3px solid rgba(235, 185, 10, 1);
  }

  &__item--first {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      top: -18px;
      left: -19px;
      width: 49px;
      height: 42px;
      background-image: url('../images/top-rate/first-icon.png');
    }
  }

   &__item--second {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      top: -18px;
      left: -19px;
      width: 49px;
      height: 42px;
      background-image: url('../images/top-rate/second-icon.png');
      background-repeat: no-repeat;
    }
  }

  &__item--third {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      top: -18px;
      left: -19px;
      width: 49px;
      height: 42px;
      background-image: url('../images/top-rate/third-icon.png');
      background-repeat: no-repeat;
    }
  }

  &__item-img {
    width: 260px;
    height: 160px;
  }

  &__title-box {
    display: flex;
    margin-bottom: 15px;

    span {
      display: flex;
      align-items: center;
    }
  }

  &__item-star {
    padding-left: 7px;
    padding-right: 7px;
  }

  &__item-title {
    display: inline;
    @extend %Roboto-500;
    font-size: 24px;
    color: #012169;
  }

  &__item-wrapper {
    position: relative;
    width: 493px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 35px;

    &::after {
      position: absolute;
      content: '';
      top: 5px;
      right: 0;
      width: 1px;
      height: 95%;
      background-color: #EBECF1;
    }
  }

  &__item-box {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__gift-box {
    position: relative;
    display: flex;
    width: 220px;
    margin-right: 50px;

    &::after {
      position: absolute;
      content: '';
      top: 5px;
      right: 0;
      width: 1px;
      height: 25px;
      background-color: #979797;
      opacity: 0.5;
    }

    span {
      display: flex;
      align-items: center;
      @extend %Roboto-700;
      font-size: 20px;
      color: #C8102E;
      margin: 0 8px;
    }
  }

  &__gift-text {
    @extend %Roboto-400;
    font-size: 13px;
    width: 80px;
    line-height: 96.19%;
    text-align: left;
    align-self: center;
  }

  &__item-text {
    @extend %Roboto-400;
    font-size: 13px;
    color: #000000;

    span {
      @extend %Roboto-400;
      font-size: 13px;
      color: #C8102E;
    }
  }

  &__item-icons {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__icons-link {
    svg {
      display: block;
      margin: 0 auto;
      margin-bottom: 5px;

      &:hover {
        path {
          fill: #C8102E;
        }
      }
    }
  }

  &__icons-text {
    @extend %Roboto-500;
    font-size: 12px;
    color: #666666;
  }

  &__list-box {
    max-width: 300px;
    padding-top: 15px;
    padding-left: 35px;
  }

  &__list-item {
    position: relative;
    margin-bottom: 10px;
    @extend %Roboto-400;
    font-size: 14px;

    &::before {
      position: absolute;
      content: '';
      top: 37%;
      left: -20px;
      width: 6px;
      height: 6px;
      background-color: #EBB90A;
      border-radius: 50%;
    }
  }

  &__list-link {
    position: relative;
    @extend %Roboto-400;
    font-size: 14px;
    color: #21469E;
    text-decoration-line: underline;
    padding-right: 15px;
    cursor: pointer;

    &:hover {
      color: #C8102E;
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      width: 15px;
      height: 9px;
      background-image: url('../images/icons/arrow-right.png');
    }
  }

  &__slider-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60px;
    height: 160px;
    background-color: #EBECF1;
  }

  &__slider-item-img {
    margin: 0 auto;
  }

  .slick-next,
  .slick-prev {
    position: absolute;
    content: '';
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .slick-next {
    bottom: -14px;
    right: 19px;

  }

  .slick-prev {
    top: -19px;
    right: 21px;
  }
}



.mistakes {
  padding-bottom: 40px;

  &__title {
    padding-bottom: 40px;
  }

  &__items {
    max-width: 1112px;
    margin: 0 auto;
  }

  &__item {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 50px;
  }

  &__item-text {
    @extend %Roboto-400;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-text--white {
    position: relative;
    padding: 30px 190px 20px 100px;
    @extend %Roboto-400;
    font-style: italic;
    font-size: 18px;
    text-transform: capitalize;
    background-color: #fff;
    color: #21469E;

    &::before {
      position: absolute;
      content: '"';
      font-family: cursive;
      font-size: 145px;
      top: -12px;
      left: 8px;
      width: 54px;
      height: 36px;
      color: #EBB90A;
      border-radius: 50%;
      transform: rotate(-0.75deg);
    }
  }

  &__item-link {
    @extend %Roboto-400;
    font-size: 16px;
    color: #21469E;
    text-decoration-line: underline;
  }

  &__item-title {
    @extend %Roboto-700;
    font-size: 24px;
    color: #212D34;
    padding-bottom: 25px;
  }

  &__item-subtitle {
    @extend %Roboto-700;
    font-size: 16px;
    margin-bottom: 25px;
  }

  &__list-item {
    position: relative;
    @extend %Roboto-500;
    font-size: 14px;
    padding-left: 25px;
    padding-bottom: 9px;

    &::before {
      position: absolute;
      content: '';
      top: 14%;
      left: 10px;
      width: 6px;
      height: 6px;
      background-color: #EBB90A;
      border-radius: 50%;
    }

    &:last-child {
      padding-bottom: 25px;
    }
  }

  &__content {
    display: flex;
    max-width: 1112px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #fff;
    border: 3px solid #fff;
  }

  &__content-img {
    width: 260px;
    height: 160px;
  }

  &__content-wrapper {
    position: relative;
    width: 493px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 35px;

    &::after {
      position: absolute;
      content: '';
      top: 5px;
      right: 0;
      width: 1px;
      height: 95%;
      background-color: #EBECF1;
    }
  }

  &__title-box {
    display: flex;
    margin-bottom: 15px;

    span {
      display: flex;
      align-items: center;
    }
  }

  &__content-title {
    display: inline;
    @extend %Roboto-500;
    font-size: 24px;
    color: #012169;
  }

  &__content-star {
    padding-left: 7px;
    padding-right: 7px;
  }

  &__content-box {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__gift-box {
    position: relative;
    display: flex;
    width: 220px;
    margin-right: 50px;

    &::after {
      position: absolute;
      content: '';
      top: 5px;
      right: 0;
      width: 1px;
      height: 25px;
      background-color: #979797;
      opacity: 0.5;
    }

    span {
      display: flex;
      align-items: center;
      @extend %Roboto-700;
      font-size: 20px;
      color: #C8102E;
      margin: 0 8px;
    }
  }

  &__gift-text {
    @extend %Roboto-400;
    font-size: 13px;
    width: 80px;
    line-height: 96.19%;
    text-align: left;
    align-self: center;
  }

  &__content-text {
    @extend %Roboto-400;
    font-size: 13px;
    color: #000000;

    span {
      @extend %Roboto-400;
      font-size: 13px;
      color: #C8102E;
    }
  }

  &__content-icons {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__content-link {
    svg {
      display: block;
      margin: 0 auto;
      margin-bottom: 5px;
    }
  }

  &__content-text {
    @extend %Roboto-500;
    font-size: 12px;
    color: #666666;
  }

  &__list-box {
    max-width: 300px;
    padding-top: 15px;
    padding-left: 35px;
  }

  &__content-list-item {
    position: relative;
    margin-bottom: 10px;
    @extend %Roboto-400;
    font-size: 14px;

    &::before {
      position: absolute;
      content: '';
      top: 37%;
      left: -20px;
      width: 6px;
      height: 6px;
      background-color: #EBB90A;
      border-radius: 50%;
    }
  }

  &__content-list-link {
    position: relative;
    @extend %Roboto-400;
    font-size: 14px;
    color: #21469E;
    text-decoration-line: underline;
    padding-right: 15px;
    cursor: pointer;

    &:hover {
      color: #C8102E;
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      width: 15px;
      height: 9px;
      background-image: url('../images/icons/arrow-right.png');
    }
  }

  &__slider-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60px;
    height: 160px;
    background-color: #EBECF1;
  }

  &__slider-item-img {
    margin: 0 auto;
  }

  .slick-next,
  .slick-prev {
    position: absolute;
    content: '';
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .slick-next {
    bottom: -14px;
    right: 19px;

  }

  .slick-prev {
    top: -19px;
    right: 21px;
  }
}

.reviws {
  padding-bottom: 60px;

  &__inner {
    display: flex;
    align-items: center;
    max-width: 1112px;
    padding: 23px 0 17px 37px;
    margin: 0 auto;
    background-color: #fff;
  }

  &__title {
    @extend %Roboto-400;
    font-size: 13px;
    color: #979797;
    padding-top: 5px;
    padding-right: 50px;
  }

  .reviews__item-star {
    display: flex;
    align-items: flex-end;
  }

  .jq-ry-container {
    margin-right: 25px;
  }

  &__item {
    display: flex;

    span {
      color: #979797;
    }
  }

  &__item-text {
    @extend %Roboto-400;
    font-size: 13px;
    color: #979797;
    margin-right: 5px;
  }

  &__item-link {
    @extend %Roboto-400;
    font-size: 13px;
    color: #21469E;
    text-decoration-line: underline;
    padding: 0 2px;

    &:last-child {
      margin-left: 20px;
      margin-right: 60px;
    }
  }

  .reviws-authors {
    display: flex;

    &__item {
      display: flex;
      align-items: center;

      &:nth-child(1) {
        margin-right: 30px;
      }
    }

    &__item-link {
      display: flex;
      align-items: center;
    }

    &__item-img {
      margin-right: 10px;
    }

    &__item-text--linked {
      @extend %Roboto-400;
      font-size: 13px;
      color: #21469E;
      text-decoration-line: underline;
      margin-right: 3px;
    }

    &__item-text {
      @extend %Roboto-400;
      font-size: 13px;
      color: #979797;
    }
  }
}


.questions {
  padding-bottom: 35px;

  &__item {
    position: relative;
    margin-bottom: 5px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__item-title {
    position: relative;
    @extend %Roboto-700;
    font-size: 18px;
    color: #21469E;
    padding: 15px 0 15px 20px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
  }

  .questions__item-svg {
    position: absolute;
    content: '';
    top: 20px;
    right: 10px;
  }

  &__item-title--active {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      content: '';
      width: 23px;
      height: 13px;
      top: 20px;
      right: 10px;
      background-image: url('../images/icons/up.svg');
    }
  }

  &__item-content {
    display: none;
    padding: 30px 60px;
  }

  &__item-text {
    @extend %Roboto-400;
    font-size: 18px;
  }

  &__item-link {
    @extend %Roboto-400;
    font-size: 18px;
    color: #21469E;
    text-decoration-line: underline;
    padding: 0 5px;
  }
}

.slider-tip {
  padding-bottom: 55px;

  &__inner {
    position: relative;
    padding: 35px 0 50px;
    background-color: #21469E;
    border-radius: 5px;

    &::after {
      position: absolute;
      content: '';
      top: 40px;
      right: -20px;
      width: 362px;
      height: 260px;
      background-image: url('../images/slider-img.png')
    }
  }

  &__title {
    @extend %Roboto-700;
    font-size: 30px;
    color: #F4F6F7;
    margin-bottom: 35px;

    span {
      color: #EBB90A;
    }
  }

  &__items {
    display: flex;
    margin: 0 auto;
    width: 1070px;
    height: 180px;

  }

  &__item {
    width: 236px;
    min-height: 140px;
    padding: 20px;
  }

  &__item-text {
    @extend %Roboto-400;
    font-size: 14px;
    color: #fff;
    text-transform: none;
    line-height: 1.3;

    span {
      @extend %Roboto-900;
      font-size: 18px;
      color: #EBB90A;
    }
  }

  &__action {
    display: block;
    width: 1033px;
    margin: 0 auto;
    text-align: center;
  }

  &__range {
    appearance: none;
    width: 100%;
    height: 4px;
    background-color: #979797;
    outline: none;

    &::-webkit-slider-runnable-track {
      width: 300px;
      height: 5px;
      background: #979797;
      border: none;
      border-radius: 3px;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: none;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: #EBB90A;
      border: 2px dotted rgba(187, 187, 187, 1);
      margin-top: -8px;
      cursor: pointer;
    }
  }
}


.criteria {
  padding-bottom: 55px;

  &__title {
    margin-bottom: 35px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 45px 65px;
    background-color: #fff;
  }

  &__item {
    position: relative;
    max-width: 455px;
    min-height: 145px;
  }

  &__item-title {
    @extend %Roboto-900;
    font-size: 16px;
    padding-left: 50px;
    margin-bottom: 20px;
  }

  &__item-svg {
    position: absolute;
    content: '';
    top: -5px;
    left: 0;
  }
}

.blog {
  margin-bottom: 45px;

  &__title {
    margin-bottom: 45px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-end;
    grid-gap: 60px 30px;
    width: 100%;
    margin-bottom: 20px;
  }

  &__item {
    position: relative;
    width: 350px;
    height: 225px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
  }

  &__item-small {
    height: 155px;
  }

  &__item-img {
    position: absolute;
    content: '';
    top: -95px;
    left: 1px;
    z-index: -1;
  }

  &__item--red span {
    position: absolute;
    content: '';
    top: -25px;
    width: 350px;
    height: 133px;
    background-color: #C8102E;
    z-index: -1;
  }

  &__item-title--red {
    color: #C8102E;
  }

  &__item-blue span {
    position: absolute;
    content: '';
    top: -25px;
    width: 350px;
    height: 133px;
    background-color: #21469E;
    z-index: -1;
  }

  &__item-title {
    @extend %Roboto-900;
    font-size: 24px;
    padding: 15px 20px 25px;
    color: #21469E;
  }

  &__item-text {
    @extend %Roboto-400;
    font-size: 14px;
    padding: 0 20px 25px;
    color: #212D34;
  }
}

.authors {
  padding-bottom: 55px;

  &__title {
    margin-bottom: 50px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    width: 537px;
    height: 223px;
    padding: 30px 30px 5px;
    background-color: #fff;
  }

  &__item-box {
    position: relative;
    width: 150px;
    height: 150px;
    position: relative;
    margin-right: 30px;
  }

  &__item-wrapper {
    position: absolute;
    content: '';
    bottom: -15px;
    left: 35px;
  }

  &__item-use {
    --primary-color: #3B5998;
  }


  &__item-content {
    max-width: 270px;
  }

  &__item-title {
    @extend %Roboto-700;
    font-size: 20px;
    color: #21469E;
    margin-bottom: 5px;
  }

  &__item-subtitle {
    @extend %Roboto-500;
    font-size: 14px;
    color: #979797;
    margin-bottom: 20px;
  }

  &__item-text {
    @extend %Roboto-400;
    font-size: 14px;
    color: #212D34;
  }
}

.footer {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 152px;
  background-color: #21469E;

  .footer-top {
    display: flex;
    align-items: center;
    width: 1120px;
    margin-bottom: 20px;

    &__logo {
      margin-left: 20px;
      margin-right: 90px;
    }

    &__logos {
      display: flex;
      justify-content: space-between;
      width: 553px;
      height: 25px;
    }
  }

  .footer-content {
    text-align: center;

    &__text {
      @extend %Roboto-400;
      font-size: 13px;
      color: #fff;
    }
  }
}

@import 'media';